
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTransitLabel" translate="spedycjacentralaApp.transit.home.createOrEditLabel">Create or edit a Transit</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="transit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transit.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="transit.type" id="field_type">
                <option value="EXPRESS" translate="spedycjacentralaApp.TransitType.EXPRESS">EXPRESS</option>
                <option value="NORMAL" translate="spedycjacentralaApp.TransitType.NORMAL">NORMAL</option>
                <option value="BUDGET" translate="spedycjacentralaApp.TransitType.BUDGET">BUDGET</option>
                <option value="CUSTOM" translate="spedycjacentralaApp.TransitType.CUSTOM">CUSTOM</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transit.startTime" for="field_startTime">StartTime</label>
            <input type="datetime-local" class="form-control" name="startTime" id="field_startTime"
                    ng-model="transit.startTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transit.endTime" for="field_endTime">EndTime</label>
            <input type="datetime-local" class="form-control" name="endTime" id="field_endTime"
                    ng-model="transit.endTime"
                     />
        </div>

        <div class="form-group">
            <label translate="spedycjacentralaApp.transit.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="transit.employee" ng-options="employee as employee.login for employee in employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjacentralaApp.transit.transporter" for="field_transporter">transporter</label>
            <select class="form-control" id="field_transporter" name="transporter" ng-model="transit.transporter" ng-options="transporter as transporter.id for transporter in transporters track by transporter.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjacentralaApp.transit.departureDepartment" for="field_departureDepartment">departureDepartment</label>
            <select class="form-control" id="field_departureDepartment" name="departureDepartment" ng-model="transit.departureDepartment" ng-options="department as department.name for department in departments track by department.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjacentralaApp.transit.destinationDepartment" for="field_destinationDepartment">destinationDepartment</label>
            <select class="form-control" id="field_destinationDepartment" name="destinationDepartment" ng-model="transit.destinationDepartment" ng-options="department as department.name for department in departments track by department.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
