
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTransporterLabel" translate="spedycjacentralaApp.transporter.home.createOrEditLabel">Create or edit a Transporter</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="transporter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transporter.purchaseTime" for="field_purchaseTime">PurchaseTime</label>
            <input type="datetime-local" class="form-control" name="purchaseTime" id="field_purchaseTime"
                    ng-model="transporter.purchaseTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transporter.withdrawalTime" for="field_withdrawalTime">WithdrawalTime</label>
            <input type="datetime-local" class="form-control" name="withdrawalTime" id="field_withdrawalTime"
                    ng-model="transporter.withdrawalTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjacentralaApp.transporter.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="transporter.name"
                     />
        </div>

        <div class="form-group">
            <label translate="spedycjacentralaApp.transporter.location" for="field_location">location</label>
            <select class="form-control" id="field_location" name="location" ng-model="transporter.location" ng-options="department as department.name for department in departments track by department.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjacentralaApp.transporter.transporterInfo" for="field_transporterInfo">transporterInfo</label>
            <select class="form-control" id="field_transporterInfo" name="transporterInfo" ng-model="transporter.transporterInfo" ng-options="transporterInfo as transporterInfo.model for transporterInfo in transporterinfos | orderBy:'id' track by transporterInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
