<div>
    <h2 translate="spedycjacentralaApp.transporter.home.title">Transporters</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="transporter.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="spedycjacentralaApp.transporter.home.createLabel">Create a new Transporter</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="spedycjacentralaApp.transporter.purchaseTime">PurchaseTime</th>
                    <th translate="spedycjacentralaApp.transporter.withdrawalTime">WithdrawalTime</th>
                    <th translate="spedycjacentralaApp.transporter.name">Name</th>
                    <th translate="spedycjacentralaApp.transporter.location">location</th>
                    <th translate="spedycjacentralaApp.transporter.transporterInfo">transporterInfo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transporter in transporters track by transporter.id">
                    <td><a ui-sref="transporter.detail({id:transporter.id})">{{transporter.id}}</a></td>
                    <td>{{transporter.purchaseTime | date:'medium'}}</td>
                    <td>{{transporter.withdrawalTime | date:'medium'}}</td>
                    <td>{{transporter.name}}</td>
                    <td>
                        <a ui-sref="department.detail({id:transporter.location.id})">{{transporter.location.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="transporterInfo.detail({id:transporter.transporterInfo.id})">{{transporter.transporterInfo.model}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="transporter.detail({id:transporter.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="transporter.edit({id:transporter.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="transporter.delete({id:transporter.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
