
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTransitLabel" translate="spedycjaoddzialApp.transit.home.createOrEditLabel">Create or edit a Transit</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="transit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjaoddzialApp.transit.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="transit.type" id="field_type">
                <option value="EXPRESS" translate="spedycjaoddzialApp.TransitType.EXPRESS">EXPRESS</option>
                <option value="NORMAL" translate="spedycjaoddzialApp.TransitType.NORMAL">NORMAL</option>
                <option value="BUDGET" translate="spedycjaoddzialApp.TransitType.BUDGET">BUDGET</option>
                <option value="CUSTOM" translate="spedycjaoddzialApp.TransitType.CUSTOM">CUSTOM</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjaoddzialApp.transit.startTime" for="field_startTime">StartTime</label>
            <input type="datetime-local" class="form-control" name="startTime" id="field_startTime"
                    ng-model="transit.startTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="spedycjaoddzialApp.transit.endTime" for="field_endTime">EndTime</label>
            <input type="datetime-local" class="form-control" name="endTime" id="field_endTime"
                    ng-model="transit.endTime"
                     />
        </div>

        <div class="form-group">
            <label translate="spedycjaoddzialApp.transit.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="transit.employee" ng-options="employee as employee.id for employee in employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjaoddzialApp.transit.transporter" for="field_transporter">transporter</label>
            <select class="form-control" id="field_transporter" name="transporter" ng-model="transit.transporter" ng-options="transporter as transporter.id for transporter in transporters track by transporter.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="spedycjaoddzialApp.transit.department" for="field_department">department</label>
            <select class="form-control" id="field_department" name="department" ng-model="transit.department" ng-options="department as department.id for department in departments track by department.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
